* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
}

main {
  max-width: 350px;
  border: 1px solid #4CAF50;
  padding: 20px;
  border-radius: 5px;
  width: 350px;
  margin: 20px auto;
}

h1 {
  color: #4CAF50;
}

img {
  padding: 20px 0;
  max-width: 400px;
}

.hidden {
  display: none;
}

#registration-status {
  background-color: #FFE454;
  padding: 10px;
}
